* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  height: 70px;
  display: flex;
  padding: 20px 36px;
  background: #ffffff;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.1);
}
.logo {
  max-width: 100px;
}
